.home{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left:  auto;
    margin-right: auto;
    min-height: calc(100vh - 60px);

}

.home__footer {
  height: 300px;
  width: 100%;
  background-color:#0c2344;
  margin-top: 20px;
  color: white;
  display: flex;
  padding-left:100px; 
  padding-right:100px; 
  padding-top: 30px ;


}
.home__image {
    width: 100%;
    height: 450px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
  }
  .home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }



  


  .footer__columns > p {
      color: grey;



  }





  .footer__image{
      margin: 10px;
      height: 60px;
      width: 150px;
      padding-left:30px ;
      padding-top: 20px;
    }


.footer__columns{
 margin-left: 160px;


  }



  @media only screen and (max-width: 450px) {
    .home{
    flex-direction: column;
   
  
  }
  .home__image {
    width: 420px;
    height: 300px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
  }
    
    .home__row {
      flex-direction: column;
      
    
    }
    .home__footer {
      height: 100vh;
      width: 360px;
      background-color:#0c2344;
      margin-top: 20px;
      color: white;
      flex-direction: column;
    padding:30px;
    
    
    }
    .footer__columns{
      margin-left: 60px;
     
     
       }
     
  }

